<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/mariadb?mariadb=Turkey</property>
        <property name="hibernate.connection.username">mariadb</property>
        <property name="hibernate.connection.password">mariadb</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>

        <property name="connection.autocommit">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.uniyaz.yb.core.domain.Category" />
        <mapping class="com.uniyaz.yb.core.domain.Question" />
    </session-factory>
</hibernate-configuration>